{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Trafico</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/tablas-style.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="./">Lineas Telefonicas</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="./">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="registroLineas">Lineas Registros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./listaEmpresas">Empresas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
  </div>
{% if user.is_authenticated %}
  <div class="w3-dropdown-hover">
    <button class="w3-button w3-black">{{ user.get_username }}</button>
    <div class="w3-dropdown-content w3-bar-block w3-border">
      <a href="#" class="w3-bar-item w3-button">Link 1</a>
      <a href="#" class="w3-bar-item w3-button">Link 2</a>
      <a href="logout" class="w3-bar-item w3-button">Logout</a>
    </div>
  </div>
{% else %}
    <a class="btn btn-outline-primary" href="login">Login</a>


{% endif %}
</nav>
<div style="text-align:center;">
<h1>Registro Trafico de lineas</h1>

<table class="rwd-table">
  <thead>
      <tr>
        <th>AÑO</th>
        <th>TRIMESTRE</th>
        <th>EQUIPO</th>
        <th>MODALIDAD</th>
        <th>LINEAS</th>
        <th>T_CURSADO</th>
        <th>EMPRESA</th>
        <th>Usuario</th>
      </tr>
  </thead>
<tbody>
{% if trafico %}
{% for linea in trafico %}
    <tr>
      <th scope="row">{{ linea.temporada }}</th>
      <td>{{ linea.trimestre }}</td>
      <td>{{ linea.equipo }}</td>
      <td>{{ linea.modalidad }}</td>
    <td>{{ linea.lineas }}</td>
    <td>{{ linea.t_cursado }}</td>
    <td>{{ linea.usuario.empresa.nombre }}</td>
    <td>{{ linea.usuario.nombre }}</td>
    </tr>
{% endfor %}
  {% else %}
  <tr class="table-danger">
      <th scope="row" colspan="8" style="text-align:center" >No hay registros</th>
  </tr>
  {% endif %}
    </tbody>
</table>
</div>


</body>
</html>

